<!-- <form #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="form.resetForm()"> -->
<form [formGroup]="productForm" #form="ngForm" (ngSubmit)="submitForm()" (reset)="resetForm()">
  <div class="form-group">
    <label>Name</label>
    <!-- <input class="form-control" name="name" [(ngModel)]="product.name" required /> -->
    <!-- <input class="form-control" name="name" [formControl]="nameField" #name="ngForm" /> -->
    <input class="form-control" name="name" formControlName="name" />

    <!-- <ul class="text-danger list-unstyled mt-1" *ngIf="name.dirty && name.invalid">
      <li *ngFor="let err of name.errors | validationFormat: 'name'">
        {{ err }}
      </li>
    </ul> -->
  </div>

  <div class="form-group">
    <label>Category</label>
    <!-- <input class="form-control" name="category" [(ngModel)]="product.category" required /> -->
    <!-- <input class="form-control" name="category" [formControl]="categoryField" /> -->
    <input class="form-control" name="category" formControlName="category" />
  </div>

  <div class="form-group">
    <label>Price</label>
    <!-- <input class="form-control" name="price" [(ngModel)]="product.price" required pattern="^[0-9\.]+$" /> -->
    <input class="form-control" formControlName="price" />
  </div>

  <div class="mt-2">
    <button type="submit" class="btn btn-primary" [class.btn-warning]="editing" [disabled]="productForm.invalid">
      {{ editing ? 'Save' : 'Create' }}
    </button>
    <button type="reset" class="btn btn-secondary m-1">Cancel</button>
  </div>
</form>
